@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #FFFFFF;
}

.section-profile {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-profile h1 {
  font-weight: 700;
  font-size: 40px;
}

.section-profile #profile-headline {
  margin-top: -30px;
}

.section-profile p {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  width: 80%;
}

.about-me {
  background-color: #EDF7FA;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.about-me .about-kiri {
  padding-left: 30px;
  padding-right: 30px;
}

.about-me .about-kiri ul {
  list-style-type: none;
  padding: 0;
}

.about-me .about-kiri ul li {
  margin-top: 20px;
}

.about-me .about-kiri #contact {
  margin-left: 20px;
}

.about-me .about-kanan .konten-education {
  margin-top: 20px;
}

.about-me .about-kanan .konten-education #education-nama-kampus {
  font-weight: 600;
}

.about-me .about-kanan .konten-education #education-jurusan {
  margin-top: -15px;
}

.about-me .about-kanan .konten-education ul {
  margin-top: -10px;
}

.about-me h3 {
  color: #136223;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.riwayat-project {
  padding-top: 30px;
  padding-bottom: 30px;
}

.riwayat-project h3 {
  font-family: "Inter", sans-serif;
  color: #136223;
  font-weight: 600;
  font-size: 18px;
}

.riwayat-project .riwayat-konten {
  margin-top: 40px;
}

.riwayat-project .riwayat-konten .detail-project h2 {
  color: #21243D;
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.riwayat-project .riwayat-konten .detail-project #riwayat-tahun {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #142850;
  color: white;
  display: inline;
  border-radius: 16px;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.riwayat-project .riwayat-konten .detail-project #riwayat-judul-dua {
  display: inline;
  font-size: 20px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  color: #8695A4;
  margin-left: 25px;
}

.riwayat-project .riwayat-konten .detail-project p {
  margin-top: 20px;
  width: 800px;
  height: 90px;
}

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-footer img {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.section-footer p {
  margin-top: 20px;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 375px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .section-profile {
    margin-top: -80px;
    text-align: center;
  }
  .section-profile #profile-headline {
    font-size: 14px;
    font-weight: 600;
    color: #948282;
  }
  .section-profile p {
    display: none;
  }
  .section-profile .profile-kanan {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */