// Font Heebo
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$heebo-font: 'Heebo', sans-serif;
$inter-font: 'Inter', sans-serif;
$my-background-color: #FFFFFF;

body {
    background-color: $my-background-color;
}

.section-profile {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 20px;
    padding-right: 20px;
    
    h1 {
        font-weight: 700;
        font-size: 40px;
    }

    #profile-headline {
        margin-top: -30px;
    }

    p {
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        width: 80%;
    } 
}

.about-me {
    background-color: #EDF7FA;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $inter-font;
    font-weight: 400;

    .about-kiri{

        padding-left: 30px;
        padding-right: 30px;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-top: 20px;
            }
        }

        #contact {
            margin-left: 20px;
        }
    }

    .about-kanan {
       .konten-education {

            margin-top: 20px;

            #education-nama-kampus {
                font-weight: 600;
            }

            #education-jurusan {
                margin-top: -15px;
            }

            ul {
                margin-top: -10px;
            }
       }
    }

    h3{
        color: #136223;
        font-size: 18px;
        font-family: $inter-font;
        font-weight: 600;
    }
}

.riwayat-project {

    padding-top: 30px;
    padding-bottom: 30px;

    h3{
        font-family: $inter-font;
        color: #136223;
        font-weight: 600;
        font-size: 18px;
    }

    .riwayat-konten {
        margin-top: 40px;

        .detail-project {

            h2 {
                color: #21243D;
                font-family: $heebo-font;
                font-size: 30px;
                font-weight: 700;
            }

            #riwayat-tahun {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: #142850;
                color: white;
                display: inline;
                border-radius: 16px;
                font-family: $heebo-font;
                font-size: 18px;
                font-weight: 600;
            }

            #riwayat-judul-dua {
                display: inline;
                font-size: 20px;
                font-weight: 400;
                font-family: $heebo-font;
                color: #8695A4;
                margin-left: 25px;
            } 

            p {
                margin-top: 20px;
                width: 800px;
                height: 90px;
            }
        }
    }
}

hr {
    width: 80%;
    margin: 0 auto;
}

.section-footer {

    padding-top: 80px;
    padding-bottom: 80px;

    img {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
    }

    p {
        margin-top: 20px;
        font-family: $heebo-font;
        font-size: 18px;
        font-weight: 400;
    }
    
}

@media (max-width: 575.98px) { 

   .section-profile { 

       padding-top: 50px;
       padding-bottom: 50px; 

       h1 {
           font-size: 40px;
           font-weight: 700;
           text-align: center;
       }

       #profile-description {
           width: 100%;
           text-align: center;
       }

       img {
           width: 200px;
           height: 200px;
           text-align: left;
           margin-top: 20px;
       }
   }

   .about-me {

       p {
           font-size: 12px;
       }

       ul {
           li {
               font-size: 12px;
           }
       }

       .about-kanan {
           padding-left: 30px;
           padding-right: 30px;
           padding-top: 20px;
       }
   }

   .riwayat-project {
       
        .gambar-project {

            margin: 0 auto;
            text-align: center;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        .riwayat-konten {

            margin-top: 60px;

            .detail-project {
                h2 {
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 20px;
                }

                p {
                  width: 95%;
                }

                #riwayat-tahun {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                    font-size: 15px;
                }

                #riwayat-judul-dua {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        }
   }

   hr {
       width: 70%;
       align-items: center;
       text-align: center;
       margin: 40px auto;
   }

   .section-footer {

       margin-top: 0; 
       padding-top: 0;

       img {
           width: 30px;
       }

       p {
           font-size: 12px;
       }
   }
   

 }
